rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas abiertas: Necesario porque la app usa autenticación de Blizzard,
    // por lo tanto, request.auth es null para Firebase.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
