rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Lectura general para el portal publico y dashboard
    match /{TanDocumento=**} {
      allow read: if true;
    }

    // El sistema guarda la sesión de Blizzard local, por lo que request.auth será null para varios
    // usuarios administradores. Para que el APP ESTRICTAMENTE NO DEJE DE FUNCIONAR:
    match /{TanColeccion}/{TanDocumentoId} {
      allow write: if true;
    }
  }
}
